body {
    background-color: #000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-242deg, #000000 40%, rgba(0, 0, 0, 0) 50%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem {
    font-family: 'Secular One';
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

.conteudo .descricao {
    font-family: 'Rubik';
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../imagens/logo.webp");
    background-size: cover;
    height: 75px;
    width: 230px;
    margin-bottom: 15px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;

    transform: scale(1.05);
}

.botoes .botao img {
    border-radius: 50%;
    max-width: 60px;
}

.botoes .botao.selecionado {
    transform: scale(1.1);
    box-shadow: 0 0 10px #bdbdbd;

    background: #bdbdbd;
}

/*animações para os botoes*/
.botao :hover {
    transform: scale(1.1);
    transition: 0.2s;
}

